:root {
    --bg: #77cd4c;
    --accent: #4d9e49;
    --text: #111827;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

li {
    padding: 3px;
}

.container {
    max-width: 780px;
    margin: 40px auto;
    padding: 24px;
}




@media (max-width:520px) {
    .container {
        margin: 20px;
        padding: 16px;
        border-radius: 8px
    }
}